html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main,
header {
    width: 80%;
}

.title {
    margin-left: 2rem;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

section {
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-normal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-normal > * {
    width: 100%;
    margin-bottom: 1rem;
}

.input {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

input,
select {
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
}

.input > *:first-child {
    margin-bottom: 1rem;
}

.input > input {
    width: 100%;
}

table {
    border: 2px solid #000;
    border-radius: 1rem;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
}

a {
    font-size: 1.5rem;
    color: #000;
}